[package]
name = "openzeppelin_macros"
version = "4.0.0-alpha.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
cairo-lang-macro = "0.2"
cairo-lang-primitive-token = "1.0.0"
cairo-lang-parser = "2.12"
cairo-lang-plugins = "2.12"
cairo-lang-syntax = "2.12"
cairo-lang-defs = "2.12"
cairo-lang-formatter = "2.12"
cairo-lang-starknet-classes = "2.12"
proc-macro2 = "1.0.87"
indoc = "2.0.5"
regex = "1.11.1"
insta = "1.42.0"
convert_case = "0.8.0"
fancy-regex = "0.16.0"
nom = "8.0.0"
quote = "1.0.37"
