[package]
name = "openzeppelin_macros"
version = "2.0.0-alpha.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
cairo-lang-macro = "0.1"
cairo-lang-parser = "2.9"
cairo-lang-syntax = "2.9"
cairo-lang-defs = "2.9"
cairo-lang-formatter = "2.9"
indoc = "2.0.5"
regex = "1.11.1"
insta = "1.42.0"
