[workspace]
members = [
    "packages/access",
    "packages/account",
    "packages/governance",
    "packages/introspection",
    "packages/presets",
    "packages/security",
    "packages/token",
    "packages/upgrades",
    "packages/utils",
]

[package]
name = "openzeppelin"
version.workspace = true

[workspace.package]
version = "0.15.0-rc.0"
edition = "2023_11"
cairo-version = "2.7.0-rc.3"
scarb-version = "2.7.0-rc.4"
authors = ["OpenZeppelin Community <maintainers@openzeppelin.org>"]
description = "OpenZeppelin Contracts written in Cairo for StarkNet, a decentralized ZK Rollup"
documentation = "https://docs.openzeppelin.com/contracts-cairo"
readme = "README.md"
repository = "https://github.com/OpenZeppelin/cairo-contracts"
license-file = "LICENSE"
keywords = [
    "openzeppelin",
    "starknet",
    "cairo",
    "contracts",
    "security",
    "standards",
]

[workspace.dependencies]
starknet = "2.7.0-rc.3"
cairo_test = "2.7.0-rc.3"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.26.0" }

[dependencies]
starknet.workspace = true
openzeppelin_access = { path = "packages/access" }
openzeppelin_account = { path = "packages/account" }
openzeppelin_governance = { path = "packages/governance" }
openzeppelin_introspection = { path = "packages/introspection" }
openzeppelin_presets = { path = "packages/presets" }
openzeppelin_security = { path = "packages/security" }
openzeppelin_token = { path = "packages/token" }
openzeppelin_upgrades = { path = "packages/upgrades" }
openzeppelin_utils = { path = "packages/utils" }

[dev-dependencies]
snforge_std.workspace = true

[lib]

[[target.starknet-contract]]
allowed-libfuncs-list.name = "experimental"
sierra = true
casm = false

[workspace.tool.fmt]
sort-module-level-items = true

[tool]
fmt.workspace = true
