[package]
name = "openzeppelin_governance"
version.workspace = true
edition.workspace = true
cairo-version.workspace = true
scarb-version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true

[tool]
fmt.workspace = true

[dependencies]
starknet.workspace = true
openzeppelin_access = { path = "../access" }
openzeppelin_introspection = { path = "../introspection" }

[dev-dependencies]
snforge_std.workspace = true
openzeppelin_test_utils = { path = "../test_utils" }

[lib]

[[target.starknet-contract]]
allowed-libfuncs-list.name = "experimental"
sierra = true
casm = false
