[package]
name = "openzeppelin_governance"
readme = "README.md"
keywords = [
    "openzeppelin",
    "starknet",
    "contracts",
    "standards",
    "governance"
]
version.workspace = true
edition.workspace = true
cairo-version.workspace = true
scarb-version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
repository.workspace = true
license-file.workspace = true

[tool]
fmt.workspace = true

[dependencies]
starknet.workspace = true
openzeppelin_access = { path = "../access" }
openzeppelin_introspection = { path = "../introspection" }

[dev-dependencies]
assert_macros.workspace = true
snforge_std.workspace = true
openzeppelin_utils = { path = "../utils" }
openzeppelin_testing = { path = "../testing" }
openzeppelin_test_common = { path = "../test_common" }

[lib]

[[target.starknet-contract]]
allowed-libfuncs-list.name = "experimental"
sierra = true
casm = false

[[test]]
build-external-contracts = [
    "openzeppelin_test_common::mocks::timelock::TimelockControllerMock",
    "openzeppelin_test_common::mocks::timelock::MockContract",
    "openzeppelin_test_common::mocks::timelock::TimelockAttackerMock",
]
