name: Lint and test

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  lint_and_test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Extract scarb version
      run: |
        SCARB_VERSION=$(grep 'scarb-version = ' Scarb.toml | sed 's/scarb-version = "\(.*\)"/\1/')
        echo "SCARB_VERSION=$SCARB_VERSION" >> "$GITHUB_ENV"
    - uses: software-mansion/setup-scarb@v1
      with:
        scarb-version: ${{ env.SCARB_VERSION }}
    - name: Markdown lint
      uses: DavidAnson/markdownlint-cli2-action@5b7c9f74fec47e6b15667b2cc23c63dff11e449e # v9
      with:
        globs: |
          *.md
          !PULL_REQUEST_TEMPLATE.md
    - name: Cairo lint
      run: scarb fmt --check
    - name: Cairo test
      run: scarb test
