name: Check for typos

on: [pull_request]

jobs:
  check-for-typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Check for typos
        uses: crate-ci/typos@f12cee1d8f3c79282a98ecb41d235aef17dfa8fd
