name: Check for typos

on: [pull_request]

jobs:
  check-for-typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Check for typos
        uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33
